$folha: green;
$fundoBranco: #fff;
$fundoIframe: rgb(230, 225, 225);
$rato: grey;
$sacoNoel: #bb1a14;
$sombraSacoNoel: #6d0c09;
$fumaca: whitesmoke;
$buracoNegro: black;
$folhinha: #325f29;
$itemClicado: #d4f6d9;
$itemClicadoNome: rgb(174, 170, 170);
$brancoPuro: white;
$sangue: red;
$verdeClaro: lawngreen;
$azulao: blue;
$pinkPanter: palevioletred;